<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>TODOr</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"> </link>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> </link>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body id="app" ng-app="todor">

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">TODOr</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <form id="logout-form" th:action="@{/login}" method="post">
            <a id="logout-link">Logout</a>
          </form>
        </li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="/about">About</a></li>
        <li>
          <form id="logout-form" th:action="@{/login}" method="post">
            <a id="logout-link">Logout</a>
          </form>
        </li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <div class="section">
      <div class="row" ng-controller="data">
        <div class="col s10 offset-s1 l8 offset-l2">
          <div class="row">
            <div class="col s12">
            </div>
          </div>

          <ul class="collapsible" data-collapsible="expandable">
            <li ng-repeat="item in task">
              <div class="collapsible-header">
                <p>
                  <input ng-checked="item.completed==true" type="checkbox" id="task-{{item.id}}" ng-model="task.selection" ng-click="updateTaskStatus($event,item.id)"/>
                  <label for="task-{{item.id}}">{{item.title}}</label>
                </p>
              </div>
              <div class="collapsible-body">
                <p>{{item.description}}</p>
              </div>
            </li>
          </ul>
          <form class="col s12" ng-submit="addTask()">
            <div class="input-field col s12">
              <input placeholder="Add Task" id="title" type="text" class="validate" ng-model="form.title"/>
              <label for="title">Task</label>
            </div>
            <div class="input-field col s12">
              <input placeholder="Description" id="desc" type="text" class="validate" ng-model="form.description"/>
              <label for="desc">Description</label>
            </div>
            <div class="right-align">
              <button class="btn waves-effect waves-light" type="submit" name="action" id="add-task">Add
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="js/init.js"></script>
  <script src="script.js"></script>
</body>
</html>

