<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>TODOr</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"> </link>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> </link>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body ng-app="todor">

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">TODOr</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/about">About</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <div class="section">
      <div class="row" ng-controller="data">
        <div class="col s6 offset-s3">
          <ul class="collapsible" data-collapsible="accordion">
            <li ng-repeat="item in task">
              <div class="collapsible-header">
                <p>
                  <input type="checkbox" id="task" />
                  <label for="task">{{item.title}}</label>
                </p>
              </div>
              <div class="collapsible-body">
                <p>{{item.description}}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="script.js"></script>
  <script>
    $(document).ready(function(){

        $('.collapsible').collapsible({
          accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    });
</script>
</body>
</html>

